body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #232323;
  font-family: 'Montserrat', sans-serif;
}

#game-container {
  margin: 0 auto;
  width: 70%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 20%;
  height: 20%;
  margin: 2.5%;
  background-color: #4682b4;
}

.unselected {
  opacity: 0;
}

.selected {
  opacity: 1;
}

img {
  height: 100%;
  overflow: hidden;
}

.pop-up-window {
    width: 60%;
    min-width: 350px;
    height: 45%;
    border-radius: 5px;
    background: #FFFF99;
    -webkit-box-shadow: 3px 7px 44px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 7px 44px 3px rgba(0,0,0,0.75);
    box-shadow: 3px 7px 44px 3px rgba(0,0,0,0.75);
    /* Will be shown on the top (0, 200)*/
    z-index: 200;
    /* To keep the popup fixed on the screen */
    position: fixed;
    top: 25%;
    left: 20%;
    visibility: hidden;
}
